.caixa-descricao {
    margin: 120px 170px;
}
.caixa-descricao-navegador {
    display: flex;
}
.caixa-descricao-navegacao {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    width: 171px;
    height: 70px;
    border: 1px solid #d0d0d0;
}
.caixa-descricao-navegacao.fade {
    background: #FBFBFB;
    color: #555;
}
.caixa-descricao-detalhes {
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: 1px solid #D0D0D0;
    padding: 48px;
    padding-bottom: 70px;
}

/* Media Queries */
@media (max-width: 1280px) {
    .caixa-descricao {
        margin: 60px 60px;
    }
}

@media (max-width: 1280px) {
    .caixa-descricao {
        margin: 60px 20px;
    }
    .caixa-descricao-detalhes {
        font-size: 14px;
    }
}
